.login {
  min-height: 100vh;
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  color: #e5e7eb;
}

.login-form h1 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-form input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7rem;
  background: #020617;
  border: 1px solid #1e293b;
  color: #e5e7eb;
  border-radius: 6px;
}

.login-form button {
  width: 100%;
  padding: 0.7rem;
  border-radius: 8px;
  border: none;
  background: #38bdf8;
  color: #020617;
  font-weight: bold;
}
