/* FILTROS */
.parts-filters {
  max-width: 1200px;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.filter {
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  border: 1px solid #38bdf8;
  background: transparent;
  color: #38bdf8;
  cursor: pointer;
  font-weight: 500;
}

.filter.active,
.filter:hover {
  background-color: #38bdf8;
  color: #020617;
}
